h1{
    font-family: 'Alumni Sans Collegiate One';
    font-size: 35px;
    color: rgb(6, 205, 255);
    text-align: center;
}
p{
    font-size: 20;
    color: black;
    font-family: 'Alumni Sans Collegiate One';
}
#menu {
    list-style-type:none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    font-size: 30px;
    }
    
    #menu li {
    float: left;
    }
    div {text-align: center;}
    img {height: 500px;
        width: 500px;}
    #menu li a{
        display: block;
        background-color: rgb(0, 0, 0);
        padding: 15px 2¿0px;
        text-decoration: none;
        color: rgb(6, 205, 255);
    }
    #menu li a:hover{
        background-color: black;
        border-bottom: 7px solid rgb(6, 205, 255);     
    } 
    li{float: left;
        overflow: hidden;
    }

    li a{
        display: block;
        background-color: black (98, 12, 235);
        padding: 15px 20px;
        text-decoration: none;
        color: rgb(6, 205, 255);
        padding: 15px 20px;
        text-decoration: none;
    }
    li a:hover{
        background-color: black;
        border-bottom: 7px solid rgb(6, 205, 255);     
    }